/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-size: 16px;
}
.contenido-scrollspy{
	overflow-y: scroll;
	height: 550px;
}

.navbar-nav>li>.dropdown-menu{
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.mega-dropdown{
	position: static !important;
	width: 100%;
}
.mega-dropdown-menu{
	padding: 20px 20px;
	width: 100%;
	box-shadow: none;
	webkit-box-shadow:none;
}
.btn-devcode{
	background: #33b5e5;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	color: white;
	border-radius: 0;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}
.app-justificar{
	text-align: justify;
}

.mega-dropdown-menu:before{
	border-bottom: 15px solid #fff;
	border-right: 17px solid transparent;
	border-left: 17px solid transparent;
	position: absolute;
	top: -15px;
	left: 239px;
	z-index: 10;
}
.mega-dropdown-menu:after{
	border-bottom: 17px solid #fff;
	border-right: 19px solid transparent;
	border-left: 19px solid transparent;
	position: absolute;
	top: -17px;
	left: 237px;
	z-index: 8;
}

/* THEME */

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    background-color: transparent;
    border: none;
}
.tab .nav-tabs li a{
    color: #222;
    background: transparent;
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 15px 7px;
    margin: 0 0 1px 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li:last-child a{ margin-right: 0; }
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    color: #222;
    background: transparent;
    border: none;
}
.tab .nav-tabs li.active a{ color: #fff; }
.tab .nav-tabs li a:before{
    content: "";
    background: #444;
    height: 100%;
    width: 100%;
    transform: perspective(400px) rotateX(75deg);
    transform-origin: bottom center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{
    background: linear-gradient(#f8ad57,#ec4e22);
    border-radius: 20px 20px 0 0;
    transform: perspective(500px) rotateX(0);
}
.tab .tab-content{
    color: black;
    background: #333;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.5);
    z-index: -1;
}
.tab .tab-content h3{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs{
        background-color: #333;
        border-radius: 21px 21px 0 0;
    }
    .tab .nav-tabs li{ width: 100%; }
    .tab .nav-tabs li a{ color: #fff; }
    .tab .tab-content h3{ font-size: 18px; }
}

.titulo-blanco {
    color: rgb(240, 119, 43);
}

.texto-rosado{
    color: white;
}

.list-group-item.fondo1:hover {
    background-color: #444 !important;
    color: white !important;
    z-index: 0 !important;
}

.dropdown-toggle:hover{
    background-color: white;
    color: #444 !important;
}